/* creating css loader */

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
  z-index: 200;
}
#loading.display {
  visibility: visible;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

table{
    /* border:2px solid #003c61; */
    width: 1452px;
   
    /* overflow-y:; */
    /* table-layout:auto; */
  }

  #table_header{
    width: 1472px;
    /* height: 60px; */
  }

#shadowTable{
  /* box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.194); */
  width: fit-content;
}

  #table_div{
    height: 570px;
    width: fit-content ;
    /* overflow-y: scroll; */
    background-color: rgba(240, 239, 239, 0);
  }
  #inner_table_div{
    background-color: rgb(240, 239, 239);
    height: 570px;
    width: fit-content ;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.194);
    overflow-y: scroll;
  }

  /* th {
    background-color: rgba(7, 104, 34, 0.441);
    height: 80px;
  } */
 th {
    background-color: rgba(16, 240, 80, 0.146);
    height: 80px;
    border: 0px solid rgba(253, 253, 255, 0);

  }
td {
    background-color: #ffffff;
    border: 0px solid rgba(253, 253, 255, 0);
    padding: 0px;
    /* height: 50px; */
    /* vertical-align: top; */
    position: relative;
  }

   /* #table div{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
  } */

  #table div.outer{
    outline: none;
      padding: 0;
      margin: 0;
      /* color: #666; */
      /* height:50px; */
      max-height: 150px;
      overflow-y: auto;
      width: 100%;
    }

    #table div.inner{
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      /* color: #666; */
    }

    
  .openBox{
    color: white;
    text-align: center;
    background-color: rgba(7, 105, 35, 0.72);
  }

  .closeBox{
    color: white;
    text-align: center;
    background-color: rgba(105, 58, 7, 0.72);
  }

  .lineBreak{
    white-space: pre-wrap;
    line-height: 30px;
  }

  .addShadow{
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.482);
  }

  .evenRow{
    background-color: rgb(240, 239, 239);
  }

body {font-family: Arial, Helvetica, sans-serif;  overflow-x: hidden;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: -50px;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 0px solid #888;
width: 800px;
}

#loadingModel{
  z-index: 100px;
  display: none;
}
  
/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 24px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

button {
    width: auto;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* background-color: #095484; */
    background-color: #0B6138;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    /* background-color: #0666a3; */
    background-color: #088A4B;
  }

  button:disabled{
    background-color: #6a6a6a;
  }


body,
form,
select,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    /* color: #666; */
    line-height: 22px;
  }


  div{
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      /* color: #666; */
    }

  input,
  select{
    padding: 0;
    margin: 0;
    /* outline: none; */
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    /* color: #666; */
    line-height: 14px;
  }

  textarea{
    padding: 0;
    margin: 0;
    /* outline: none; */
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    /* color: #666; */
    line-height: 35px;
  }

#searchPhoneNumberInput{
  line-height: 35px;
}


#noResultLabel{
  color: rgba(136, 136, 136, 0.653);
  margin-left: 600px;
  width: 600px;
 }

#noResultLabel_reset{
 color: rgba(136, 136, 136, 0.653);
 margin-left: 600px;
 width: 500px;
}

#searchPhoneNumberFormWidth{
  position: absolute;
  width: 800px;
  top: 128px;
  left: 565px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.194);
    font-size: 18px;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  #navbar_logout:hover:not(.active) {
    background-color: rgb(242, 185, 42);
    color: rgb(0, 0, 0);
  }

  html{
    background-color: #ffffc24e;

  }

  .systemName{
    /* background-color: white; */
    margin-left: 10px;
    color: #888;
    font-size: 33px;
    height:18px;
  }
.item{
    padding-left: 30px;
}
 .topTitleBar{
    background-color: #003c61;
    margin: 0;
    height: 70px;
    width: 98.5%;
    top: 0;
    /* left: -250px; */
    /* position: relative; */
    padding: 1px;
    padding-left: 26px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.194);

  }
  .topTitle{
    color: #ffffff;
    top: 50px;
    left: 0;
    padding: 1px;
    width: 300px;
    font-size: 30px;
  }
  div.box{
    margin-left: 350px;
    /* padding: 1px 16px; */
    padding: 1px;
    height: 100%;
    padding-right: 0;
    /* background-color: #ffffc24e;; */
  }

  #titleFilterInput{
      width:115px;
  }

  #contentFilterInput{
    width:240px;

}
#phoneNoFilterInput{
  width:92px;
}

#nameFilterInput{
  width:123px;
  
  }

  #statusFilterInput{
    width: 78px;
    
  }

#replyFilterInput{
  width:180px;
}

#followedByFilterInput{
width:125px;

}
/* 
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    background-color: #009879;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

  /* @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.username {margin-left: 0;}
    div.userDetails {margin-left: 0;}
    div.overview {margin-left: 0;}
    div.result {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */